* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #333;
}

root{
  width: 100%;
  height: 100%;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 50px 0px 0px 0px;
}

.main-page h2{
  text-align: center;
  display: block;
}

.main-page a{
  display: block;
  text-align: center;
  font-size: 8em;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-params{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.search-params input{
  margin-bottom: 20px;
  font-size: 2em;
  padding: 0.5em;
  border-radius: 25px;
  color: #333;
  margin-left: 50px;
}

.search-params button{
  height: 100%;
  font-size: 2em;
  border-radius: 50%;
  padding: 0.5em;
  transform: translate(-60%);
}

.search-params h1{
  display: block;
}

.movie {
  display: block;
  overflow: hidden;
  height: 500px;
  background-color: #555;
  border-radius: 10px;
}

.info {
  visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  z-index: 3;
  top: -100%;
  height: 100%;
  background-color: #00000000;
  
  transition-property: background-color;
  transition-duration: 2s;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie:hover>.info{
    visibility: visible;
    background-color: #0000007a;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 10px;
}

.movie h1 {
  font-size: 50px;
  text-decoration: solid;
  word-wrap: break-word;
  margin: 0;
  text-align: center;
}

.movie h2 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.details{
  background-color: #111;
  margin: 30px 30px;
  padding: 50px;
  border-radius: 20px;
}

.details h1{
  font-weight: bold;
  font-size: 3em;
}

.image-poster{
  width: 300px;
}

.detailed-view{
  display: flex;
  gap: 20px;
}

.detailed-view div{
  max-width: 700px;
}

.userReview{
  overflow-wrap: break-word;
  overflow-x: scroll;
  line-break: normal;
  white-space: pre;
  height: 200px;
}

.detailed-view label, textarea{
  display: block;
}

.detailed-view textarea{
  color: #333;
  height: 300px;
  width: 100%;
  font-size: 1em;
}

.detailed-view button{
  color: #333;
  float: right;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .search{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 50em) {
  .search{
    grid-template-columns: 1fr 1fr;
  }

  .detailed-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

}

@media (max-width: 30em) {
  .search-params input{
    margin-left: 0;
  }

  .search-params{
    margin: auto;
  }

}

@media (max-width: 27em) {
  .search{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 25em) {
  .search-params input{
    margin-left: -10px;
  }
}

@media (max-width: 24em) {
  .search-params input{
    margin-left: -30px;
  }
}