* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #333;
}

root{
  width: 100%;
  height: 100%;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 50px 0px 0px 0px;
}

.main-page h2{
  text-align: center;
  display: block;
}

.main-page a{
  display: block;
  text-align: center;
  font-size: 8em;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-params{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.search-params input{
  font-size: 2em;
  padding: 0.5em;
  border-radius: 25px;
  color: #333;
  margin-left: 50px;
}

.search-params button{
  height: 100%;
  font-size: 2em;
  border-radius: 50%;
  padding: 0.5em;
  transform: translate(-60%);
}

.search-params h1{
  display: block;
}

.movie {
  display: block;
  overflow: hidden;
  height: 500px;
  margin: 25px 0;
  background-color: #555;
  border-radius: 10px;
}

.info {
  visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  z-index: 3;
  top: -100%;
  height: 100%;
  background-color: #00000000;
  
  transition-property: background-color;
  transition-duration: 2s;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie:hover>.info{
    visibility: visible;
    background-color: #0000007a;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
}

.movie h1 {
  font-size: 50px;
  text-decoration: solid;
  word-wrap: break-word;
  margin: 0;
  text-align: center;
}

.movie h2 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}